<h1>Site Notice</h1>

<p>Danijel Kresic<br />
Kresic Digital System<br />
Burggasse 3<br />
89604 Allmendingen</p>

<h2>Contact</h2>
<p>Phone: +49 176 35282737<br />
E-mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<h2>Job title and professional regulations</h2>
<p>Job title:<br />
IT-Dienstleistungen, Softwareentwicklung, Handel mit digitalen Produkten sowie Erbringung von Dienstleistungen im Bereich der Datenanalyse und Handelssimulation.</p>
<h2>Person responsible for editorial</h2>
<p>Danijel Kresic</p>

<h2>Dispute resolution proceedings in front of a consumer arbitration board</h2>
<p>We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.</p>
