<h1>Impressum</h1>

<p>Danijel Kresic<br />
Kresic Digital System<br />
Burggasse 3<br />
89604 Allmendingen</p>

<h2>Kontakt</h2>
<p>Telefon: +49 176 35282737<br />
E-Mail: <a href="mailto:kresic.systems@protonmail.com">kresic.systems@protonmail.com</a></p>

<h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
<p>Berufsbezeichnung:<br />
IT-Dienstleistungen, Softwareentwicklung, Handel mit digitalen Produkten sowie Erbringung von Dienstleistungen im Bereich der Datenanalyse und Handelssimulation.</p>
<h2>Redaktionell verantwortlich</h2>
<p>Danijel Kresic</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
